/*Name: Sophia Jawort
  HCDE 438 Assignment 3
  This file creates the styles for
  the chatter app. As well as handles
  the interfaces responsiveness based on the
  users screen size
*/

/* mobile */
html {
  font-size: 13px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}
/*Styles for main app background*/
.App{
  background:linear-gradient(to right, rgb(218, 68, 83), rgb(137, 33, 107));;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Styles for the app header*/
.header{
  width:100%;
  height:4rem;
  border-bottom: 0.15rem solid white;
  display:flex;
  align-items:center;
  background:#89216B;
  font-size:3rem;
}

/*Styles for the logo*/
.logo{
  height:3.5rem;
  width:3.5rem;
  background: url("https://i.pinimg.com/564x/92/ac/d1/92acd1ee5aa8ff2537c19e117cde12fe.jpg");
  background-position:center;
  background-size: cover;
  border-radius:70%;
  border-color: white;
  border-style:solid;
  margin:1rem;
}

/*Styles for the title*/
.title{
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

/*Determining where the messages will appear on the screen*/
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  flex:1;
  padding: 0.13rem;
}

/**Styles for the messsages*/
.message{
  background:#89216B;
  color:white;
  margin-left:1.5rem;
  margin-bottom:1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  overflow-wrap: break-word;
  position:relative;
}

.message-username{
  position: absolute;
  left: 0;
  top: -0.8rem;
  font-size: 0.5rem;
}

  .message:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius:20%;
    border-left: 10px solid transparent;
    border-right: 10px solid #89216B;
    border-top: 10px solid #89216B;
    border-bottom: 10px solid transparent;
    left: -17px;
    top: 10px;
  }

  .name-picker{
    display:flex;
    align-items:center;
    margin-left:1rem;
  }

  .name-picker svg {
    stroke: white;
    cursor: pointer;
  }

  .name-picker-name {
    color: white;
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  .user-button{
    background-color:#89216B;
    border: 0.2rem solid white;
  }